@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #42b883;

html,
body {
    margin: 0;
    // 關閉（抑制）元素在超出滾動邊界時的預設行為
    overscroll-behavior: none;
}

body {
    background-color: theme("colors.brandGray");
    font-family: sans-serif;
    // 控制垂直方向（y 軸）的「超出滾動行為」
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
}

/* 禁止文字被選取的工具類別 */
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
